.checkout {
    padding: 0px 20px;
}

.checkout {
    display: flex;
    margin: 20px auto 0;

    .checkout-items {
        max-height: calc(100vh - 200px);
        overflow: auto;
        margin-top: 30px;
    }

    .cart-details {
      flex-grow: 2;
    }

    .checkout-summary {
      flex-grow: 1;
      text-align: center;

      .pay {
        display: flex;
        flex-direction: column;
        margin: 10px 0;

        .info {
          margin: 10px;
        }

        .card-number,
        .card-exp,
        .card-cvv {
          margin-top: 10px;
          color: black;
        }

        .StripeCheckout {
          margin: 20px auto;
          width: 150px;
        }
      }
    }
      
  
    .checkout-header {
      width: 100%;
      padding: 10px;
      display: flex;
      justify-content: space-between;
      border: 1px solid darkgrey;
  
      .header-block {
        text-transform: capitalize;
        width: 23%;

        img {
            width: 100%;
            padding-right: 15px;
        }
  
        &:last-child {
          width: 8%;
        }
      }
    }
  
    .total {
      margin-top: 30px;
      margin-left: auto;
      font-size: 36px;
    }
}