.header {
    width: 100%;
    padding: 0px 20px;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    margin: 10px 0;
    
    .brand {
        text-decoration: none;
        display: inline-block;
        width: 40%;

        .brand-logo {
            height: 75px;
            width: 200px;
            background-position: center;
            background-size: cover;
            background-image: url('../images/elite-clothing.png');
        }
    }

    .nav-items {
        display: flex;
        float: right;
        justify-content: flex-end;
        width: 60%;

        .nav-item {
            display: flex;
            align-items: center;
            
            min-width: 100px;
            text-align: center;
            text-transform: uppercase;
            

            &:hover {
                cursor: pointer;
            }

            a {
                border-bottom: 2px solid transparent;

                -webkit-transition: border-bottom 0.3s ease-out;
                -moz-transition: border-bottom 0.3s ease-out;
                -o-transition: border-bottom 0.3s ease-out;
                transition: border-bottom 0.3s ease-out;

                &:hover {
                    border-bottom: 2px solid;
                }
            }
        }
    }
}